dev = /dev/ttyS0
baud = 38400
roboclaw_address[1] = 128
roboclaw_address[2] = 129

base_width = 0.219
max_qpps = 11000
max_speed = 2.0

qpps_per_meter = 9596
wheel_diameter = 0.1905

# robot_direction = 1
# motor_direction[1] = 1
# motor_direction[2] = 1
# motor_direction[3] = 1
# motor_direction[4] = 1
