r1 = 0.5     # xdot encoder
r2 = 0.5	     # ydot encoder
r3 = 1000.0	     # xddot imu
r4 = 1000.0	     # yddot imu
r5 = 0.0 	     # zddot imu
r6 = 1.0	     # roll imu
r7 = 1.0	     # pitch imu
r8 = 1.0	     # yaw imu
r9 = 1.0	     # roll dot imu
r10 = 1.0	     # pitch dot imu
r11 = 1.0	     # yawdot imu
r12 = 0.0	     # yawdot encoder
q = 0.5	     # q
